/*ACCORDION*/
.accordion {

  background-color: transparent;

	ol,
	ul {
		text-align: left;
	}

	.accordion-title {
		text-align: center;
    background-color: $white;
    font-weight: bold;

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 1.375rem;
		// 	height: 1.375rem;
		// 	right: $global-padding;
		// 	top: 50%;
		// 	margin-top: -0.6875rem;
		// 	background-size: contain;
		// }
	}

  .accordion-item {

  }

	.accordion-content {
    @include breakpoint(medium) {
      padding: $global-padding*2;
    }
	}

	.is-active {
		.accordion-title {
			background-color: $white;
      color: get-color(primary);
		}
	}
}
