/*ALLIANZ COLOUR PALETTE*/

$bright-action: #007AB3;
$dark-action: #006192;

$text-colour: #414141;
$warning-colour: #EFBE25;
$success-colour: #1E8927;
$alert-colour: #DC3149;
$info-colour: #496EBD;

$direct-orange: #F86200;
$direct-green: #3DA556;

$grey-01: #f5f5f5;
$grey-02: #ECECEC;
$grey-03: #d9d9d9;
$grey-04: #c2c2c2;
$grey-05: #999999;
$grey-06: #767676;
$grey-07: #5b5b5b;
$grey-08: #3C3C3C;

$rich-grey: #5A5360;
$rich-violet: #5A3982;
$rich-green: #5B5D30;
$rich-aqua-green: #407D71;
$rich-blue: #49648C;
$rich-red: #B71E3F;
$rich-aqua-blue: #007D8C;

$vibrant-green: #CCDD61;
$vibrant-sky-blue: #96DCFA;
$vibrant-purple: #8A679C;
$vibrant-red: #E4003A;
$vibrant-aqua-blue: #7FE4E0;
$vibrant-yellow: #FDD25C;
$vibrant-orange: #FF934F;

$soft-green: #C0DDBD;
$soft-beige: #EACFC0;
$soft-grey: #D4CDCD;
$soft-cream: #EBE1BF;
$soft-aqua-blue: #CFE9EE;
$soft-pink: #EECCD5;
$soft-stone: #DBD3BD;






/*COLOUR STYLES*/


.col-bright-action {
  color: $bright-action;
}
.col-dark-action {
  color: $dark-action;
}

.col-text-colour {
  color: $text-colour;
}
.col-warning-colour {
  color: $warning-colour;
}
.col-success-colour {
  color: $success-colour;
}
.col-alert-colour {
  color: $alert-colour;
}
.col-info-colour {
  color: $info-colour;
}

.col-direct-orange {
  color: $direct-orange;
}
.col-direct-green {
  color: $direct-green;
}

.col-grey-01 {
  color: $grey-01;
}
.col-grey-02 {
  color: $grey-02;
}
.col-grey-03 {
  color: $grey-03;
}
.col-grey-04 {
  color: $grey-04;
}
.col-grey-05 {
  color: $grey-05;
}
.col-grey-06 {
  color: $grey-06;
}
.col-grey-07 {
  color: $grey-07;
}
.col-grey-08 {
  color: $grey-08;
}

.col-rich-grey {
  color: $rich-grey;
}
.col-rich-violet {
  color: $rich-violet;
}
.col-rich-green {
  color: $rich-green;
}
.col-rich-aqua-green {
  color: $rich-aqua-green;
}
.col-rich-blue {
  color: $rich-blue;
}
.col-rich-red {
  color: $rich-red;
}
.col-rich-aqua-blue {
  color: $rich-aqua-blue;
}

.col-vibrant-green {
  color: $vibrant-green;
}
.col-vibrant-sky-blue {
  color: $vibrant-sky-blue;
}
.col-vibrant-purple {
  color: $vibrant-purple;
}
.col-vibrant-red {
  color: $vibrant-red;
}
.col-vibrant-aqua-blue {
  color: $vibrant-aqua-blue;
}
.col-vibrant-yellow {
  color: $vibrant-yellow;
}
.col-vibrant-orange {
  color: $vibrant-orange;
}

.col-soft-green {
  color: $soft-green;
}
.col-soft-beige {
  color: $soft-beige;
}
.col-soft-grey {
  color: $soft-grey;
}
.col-soft-cream {
  color: $soft-cream;
}
.col-soft-aqua-blue {
  color: $soft-aqua-blue;
}
.col-soft-pink {
  color: $soft-pink;
}
.col-soft-stone {
  color: $soft-stone;
}
