// Allianz Neo Fonts

$ai-font-stack: "AllianzNeo",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$ai-font-stack-con: "AllianzNeoCondensed",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-Regular.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: normal; 
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-Italic.svg') format('svg'); /* Legacy iOS */
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-Bold.svg') format('svg'); /* Legacy iOS */
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-SemiBold.svg') format('svg'); /* Legacy iOS */
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-BoldItalic.svg') format('svg'); /* Legacy iOS */
	font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-Light.svg') format('svg'); /* Legacy iOS */
	font-weight: 100;
	font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('../fonts/neo/eot/AllianzNeoW04-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-LightItalic.svg') format('svg'); /* Legacy iOS */
	font-weight: 100;
	font-style: italic;
}

@font-face {
  font-family: 'AllianzNeoCondensed';
  src: url('../fonts/neo/eot/AllianzNeoW04-CondensedBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/neo/eot/AllianzNeoW04-CondensedBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/neo/woff2/AllianzNeoW04-CondensedBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/neo/woff/AllianzNeoW04-CondensedBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/neo/ttf/AllianzNeoW04-CondensedBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/neo/svg/AllianzNeoW04-CondensedBold.svg') format('svg'); /* Legacy iOS */
	font-weight: bold;
}
