<div class="cell content-block highlight text-center col-2">
  <div class="grid-x grid-margin-x">
    <div class="medium-6 cell">
      <p>Annual <br><span class="stat">€123.45</span><br>Included 10% online discount</p>
    </div>
    <div class="medium-6 cell">
      <p>Monthly <br><span class="stat">€23.45</span><br>12 monthly installments</p>
    </div>
  </div>
  <p><a href="{{root}}client-app/pay.html" class="button expanded">Pay Now</a></p>
  <p><a href="" class="button hollow expanded">Send Quote</a></p>
</div>
