<div class="cell content-block">
  <h3 class="block-header">Activity</h3>
  <table>
    <thead>
      <tr>
        <th colspan="2">Activity Type</th>
        <th>Notes</th>
        <th width="150">Date / Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="icon-td"><i class="svg icon-ui-call_phone_black2_24px" data-grunticon-embed></i></td>
        <td>Customer called</td>
        <td>Customer asked for discount, gave €20.</td>
        <td>23.02.18 / 4mins</td>
      </tr>
      <tr>
        <td class="icon-td"><i class="svg icon-ui-credit_card_out_24px" data-grunticon-embed></i></td>
        <td>Customer payment</td>
        <td>Customer paid in full by card.</td>
        <td>23.04.18 / 10:15</td>
      </tr>
      <tr>
        <td class="icon-td"><i class="svg icon-ui-file_out_24px" data-grunticon-embed></i></td>
        <td>Customer request</td>
        <td>Renewal Pack issued €692.83.</td>
        <td>29.05.18 / 14:35</td>
      </tr>
    </tbody>
  </table>
  <ul class="menu simple align-center">
    <li><a href="" class="text-link">See all activity</a></li>
  </ul>
</div>
