<div class="cell content-block transparent customer">
  <h3 class="block-header">Customer</h3>
  <div class="data-list justify">
    <div class="cell"><span class="title">Customer ID</span> #1234567</div>
    <div class="cell"><span class="title">Name</span> Full Name</div>
    <div class="cell"><span class="title">Address</span> Address Line 01 <br>Street Address Line 02 <br>Address Line 04 <br>Address Line 04</div>
  </div>
  <div class="data-list col-3">
    <div class="cell"><span class="title">Active <br>Policies</span> <span class="stat">2</span></div>
    <div class="cell"><span class="title">Average <br>Policy Age</span> <span class="stat">2.75</span></div>
    <div class="cell"><span class="title">Lifetime <br>Premium</span> <span class="stat">€12,345</span></div>
    <div class="cell"><span class="title">Lifetime <br>Claims</span> <span class="stat">1</span></div>
    <div class="cell"><span class="title">Connected <br>Users</span> <span class="stat">2</span></div>
    <div class="cell"><span class="title">Current <br>Debt</span> <span class="stat">2</span></div>
  </div>
  <ul class="menu simple align-center">
    <li><a href="" class="text-link">Full Profile</a></li>
  </ul>
</div>
