<form>
  <div class="grid-x grid-padding-x align-center">
    <div class="medium-6 cell">
      <label>Input Label
        <input type="text" placeholder="...">
      </label>
      <label>Input Label
        <input type="text" placeholder="...">
      </label>
      <label>Notes
        <textarea placeholder="Notes here..."></textarea>
      </label>
    </div>
  </div>
  <div class="button-group small align-center">
    <a class="button">Continue</a>
    <a class="button secondary hollow" data-open="cancelModal01">Cancel</a>
  </div>
</form>
