<form>
  <div class="grid-x grid-padding-x align-center">
    <div class="medium-6 cell">
      <dl>
        <dt>Name:</dt>
        <dd>Customer FullName</dd>
        <dt>Car Registration:</dt>
        <dd>11D1234</dd>
        <dt>Policy Renewal Date:</dt>
        <dd>07/010/2018</dd>
        <dt>Balance:</dt>
        <dd>€123.45</dd>
      </dl>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="medium-6 cell">
      <label>Notes
        <textarea placeholder="Notes here..."></textarea>
      </label>
    </div>
  </div>
  <div class="button-group small align-center">
    <a class="button">Edit</a>
    <a class="button secondary hollow" data-open="cancelModal01">Cancel</a>
  </div>
</form>
