{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Prevent Search Engine Indexing -->
  <meta name="robots" content="noindex,nofollow">
  <title>AI Client App - {{header-title}}</title>
  {{> grunticon-script}}
  {{> favicon}}
  {{> css-link}}
</head>

<body class="{{product}}">

  <div class="grid-y medium-grid-frame">
    <header class="cell shrink header">
      <div class="top-bar">
        <div class="top-bar-left">

          <ul class="menu">
            <li class="ai-logo"><i class="svg icon-allianz-logo"></i></li>
            <li class="menu-text header-title">{{header-title}}</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu ui-menu" data-dropdown-menu>
            <li class="ui search"><input type="search" name="search" placeholder="Search..." class="animated-search-form"></li>
            <li id="time" class="ui-time menu-text"></li>
            <li class="has-submenu">
              <a href="#0">User Name</a>
              <!-- <ul class="submenu menu vertical" data-submenu>
                <li><a href="#0">User Options</a></li>
                <li><a href="#0">Logout</a></li>
              </ul> -->
            </li>
            <li class="ui"><a data-open="cancelModal01"><i class="svg icon-ui-close_black_24px" data-grunticon-embed></i></a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="cell medium-auto medium-cell-block-container">
      <div class="content-grid grid-x">
        {{> body}}
      </div>
    </div>
    <footer class="cell shrink footer">
      <ul class="menu ui-menu align-right">
        <li><a href="{{root}}client-app/">Home</a></li>
        <li class="menu-text">AI Client App V.01</li>
      </ul>
    </footer>
  </div>

  {{> reveal-cancel-01}}

  <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
