
.icon-SUV-car {
	background-image: url('png/SUV-car.png');
	background-repeat: no-repeat;
}



.icon-Soccer {
	background-image: url('png/Soccer.png');
	background-repeat: no-repeat;
}



.icon-Voice_of_the_Customer {
	background-image: url('png/Voice_of_the_Customer.png');
	background-repeat: no-repeat;
}



.icon-a-z {
	background-image: url('png/a-z.png');
	background-repeat: no-repeat;
}



.icon-allianz-logo {
	background-image: url('png/allianz-logo.png');
	background-repeat: no-repeat;
}



.icon-animal-cat {
	background-image: url('png/animal-cat.png');
	background-repeat: no-repeat;
}



.icon-animal-dog {
	background-image: url('png/animal-dog.png');
	background-repeat: no-repeat;
}



.icon-animal-horse {
	background-image: url('png/animal-horse.png');
	background-repeat: no-repeat;
}



.icon-animal-hunting-deer {
	background-image: url('png/animal-hunting-deer.png');
	background-repeat: no-repeat;
}



.icon-animal-paw {
	background-image: url('png/animal-paw.png');
	background-repeat: no-repeat;
}



.icon-arrow-direction-path {
	background-image: url('png/arrow-direction-path.png');
	background-repeat: no-repeat;
}



.icon-at-sign {
	background-image: url('png/at-sign.png');
	background-repeat: no-repeat;
}



.icon-balance-scale {
	background-image: url('png/balance-scale.png');
	background-repeat: no-repeat;
}



.icon-bank-monument-info {
	background-image: url('png/bank-monument-info.png');
	background-repeat: no-repeat;
}



.icon-battery {
	background-image: url('png/battery.png');
	background-repeat: no-repeat;
}



.icon-bed {
	background-image: url('png/bed.png');
	background-repeat: no-repeat;
}



.icon-bike {
	background-image: url('png/bike.png');
	background-repeat: no-repeat;
}



.icon-board-paper-note {
	background-image: url('png/board-paper-note.png');
	background-repeat: no-repeat;
}



.icon-book {
	background-image: url('png/book.png');
	background-repeat: no-repeat;
}



.icon-brain {
	background-image: url('png/brain.png');
	background-repeat: no-repeat;
}



.icon-broken-glass {
	background-image: url('png/broken-glass.png');
	background-repeat: no-repeat;
}



.icon-broken-window {
	background-image: url('png/broken-window.png');
	background-repeat: no-repeat;
}



.icon-broom-clean {
	background-image: url('png/broom-clean.png');
	background-repeat: no-repeat;
}



.icon-buggy {
	background-image: url('png/buggy.png');
	background-repeat: no-repeat;
}



.icon-building {
	background-image: url('png/building.png');
	background-repeat: no-repeat;
}



.icon-bullhorn {
	background-image: url('png/bullhorn.png');
	background-repeat: no-repeat;
}



.icon-calculator {
	background-image: url('png/calculator.png');
	background-repeat: no-repeat;
}



.icon-calendar {
	background-image: url('png/calendar.png');
	background-repeat: no-repeat;
}



.icon-camera {
	background-image: url('png/camera.png');
	background-repeat: no-repeat;
}



.icon-candle {
	background-image: url('png/candle.png');
	background-repeat: no-repeat;
}



.icon-car-accident {
	background-image: url('png/car-accident.png');
	background-repeat: no-repeat;
}



.icon-car-front {
	background-image: url('png/car-front.png');
	background-repeat: no-repeat;
}



.icon-car-small {
	background-image: url('png/car-small.png');
	background-repeat: no-repeat;
}



.icon-car-tacho-fast {
	background-image: url('png/car-tacho-fast.png');
	background-repeat: no-repeat;
}



.icon-car-trailer {
	background-image: url('png/car-trailer.png');
	background-repeat: no-repeat;
}



.icon-car {
	background-image: url('png/car.png');
	background-repeat: no-repeat;
}



.icon-caravan {
	background-image: url('png/caravan.png');
	background-repeat: no-repeat;
}



.icon-certificate {
	background-image: url('png/certificate.png');
	background-repeat: no-repeat;
}



.icon-check-paper {
	background-image: url('png/check-paper.png');
	background-repeat: no-repeat;
}



.icon-check {
	background-image: url('png/check.png');
	background-repeat: no-repeat;
}



.icon-city {
	background-image: url('png/city.png');
	background-repeat: no-repeat;
}



.icon-cleanup-trash {
	background-image: url('png/cleanup-trash.png');
	background-repeat: no-repeat;
}



.icon-clock {
	background-image: url('png/clock.png');
	background-repeat: no-repeat;
}



.icon-cloud {
	background-image: url('png/cloud.png');
	background-repeat: no-repeat;
}



.icon-cog-wheel {
	background-image: url('png/cog-wheel.png');
	background-repeat: no-repeat;
}



.icon-cog-wheels {
	background-image: url('png/cog-wheels.png');
	background-repeat: no-repeat;
}



.icon-coins-money {
	background-image: url('png/coins-money.png');
	background-repeat: no-repeat;
}



.icon-communication {
	background-image: url('png/communication.png');
	background-repeat: no-repeat;
}



.icon-computer {
	background-image: url('png/computer.png');
	background-repeat: no-repeat;
}



.icon-couch {
	background-image: url('png/couch.png');
	background-repeat: no-repeat;
}



.icon-credit-card {
	background-image: url('png/credit-card.png');
	background-repeat: no-repeat;
}



.icon-cross-triangle {
	background-image: url('png/cross-triangle.png');
	background-repeat: no-repeat;
}



.icon-cross {
	background-image: url('png/cross.png');
	background-repeat: no-repeat;
}



.icon-danger {
	background-image: url('png/danger.png');
	background-repeat: no-repeat;
}



.icon-data-exchange {
	background-image: url('png/data-exchange.png');
	background-repeat: no-repeat;
}



.icon-diversity {
	background-image: url('png/diversity.png');
	background-repeat: no-repeat;
}



.icon-dollar {
	background-image: url('png/dollar.png');
	background-repeat: no-repeat;
}



.icon-door {
	background-image: url('png/door.png');
	background-repeat: no-repeat;
}



.icon-electric-plug {
	background-image: url('png/electric-plug.png');
	background-repeat: no-repeat;
}



.icon-excavator {
	background-image: url('png/excavator.png');
	background-repeat: no-repeat;
}



.icon-expensive-objects-jewelery {
	background-image: url('png/expensive-objects-jewelery.png');
	background-repeat: no-repeat;
}



.icon-eye-overview-sight {
	background-image: url('png/eye-overview-sight.png');
	background-repeat: no-repeat;
}



.icon-family {
	background-image: url('png/family.png');
	background-repeat: no-repeat;
}



.icon-folder {
	background-image: url('png/folder.png');
	background-repeat: no-repeat;
}



.icon-guide-navigation {
	background-image: url('png/guide-navigation.png');
	background-repeat: no-repeat;
}



.icon-hand-click-info {
	background-image: url('png/hand-click-info.png');
	background-repeat: no-repeat;
}



.icon-hand-finger-pointing {
	background-image: url('png/hand-finger-pointing.png');
	background-repeat: no-repeat;
}



.icon-hand-get-money {
	background-image: url('png/hand-get-money.png');
	background-repeat: no-repeat;
}



.icon-hand-thumbs-up {
	background-image: url('png/hand-thumbs-up.png');
	background-repeat: no-repeat;
}



.icon-headset-support {
	background-image: url('png/headset-support.png');
	background-repeat: no-repeat;
}



.icon-health-bag-doctor {
	background-image: url('png/health-bag-doctor.png');
	background-repeat: no-repeat;
}



.icon-health-stethoscope {
	background-image: url('png/health-stethoscope.png');
	background-repeat: no-repeat;
}



.icon-heart-employee-engagement {
	background-image: url('png/heart-employee-engagement.png');
	background-repeat: no-repeat;
}



.icon-heart {
	background-image: url('png/heart.png');
	background-repeat: no-repeat;
}



.icon-helmet {
	background-image: url('png/helmet.png');
	background-repeat: no-repeat;
}



.icon-help-information {
	background-image: url('png/help-information.png');
	background-repeat: no-repeat;
}



.icon-help-question {
	background-image: url('png/help-question.png');
	background-repeat: no-repeat;
}



.icon-help {
	background-image: url('png/help.png');
	background-repeat: no-repeat;
}



.icon-home-office {
	background-image: url('png/home-office.png');
	background-repeat: no-repeat;
}



.icon-hourglass {
	background-image: url('png/hourglass.png');
	background-repeat: no-repeat;
}



.icon-house-broken-window {
	background-image: url('png/house-broken-window.png');
	background-repeat: no-repeat;
}



.icon-house-fire {
	background-image: url('png/house-fire.png');
	background-repeat: no-repeat;
}



.icon-house-important {
	background-image: url('png/house-important.png');
	background-repeat: no-repeat;
}



.icon-house-money {
	background-image: url('png/house-money.png');
	background-repeat: no-repeat;
}



.icon-house-safe {
	background-image: url('png/house-safe.png');
	background-repeat: no-repeat;
}



.icon-house-water-damage {
	background-image: url('png/house-water-damage.png');
	background-repeat: no-repeat;
}



.icon-house {
	background-image: url('png/house.png');
	background-repeat: no-repeat;
}



.icon-important-info {
	background-image: url('png/important-info.png');
	background-repeat: no-repeat;
}



.icon-info-sheet {
	background-image: url('png/info-sheet.png');
	background-repeat: no-repeat;
}



.icon-injury-plaster {
	background-image: url('png/injury-plaster.png');
	background-repeat: no-repeat;
}



.icon-job-processes {
	background-image: url('png/job-processes.png');
	background-repeat: no-repeat;
}



.icon-law {
	background-image: url('png/law.png');
	background-repeat: no-repeat;
}



.icon-light-bulb-idea {
	background-image: url('png/light-bulb-idea.png');
	background-repeat: no-repeat;
}



.icon-locate-position {
	background-image: url('png/locate-position.png');
	background-repeat: no-repeat;
}



.icon-lock {
	background-image: url('png/lock.png');
	background-repeat: no-repeat;
}



.icon-mail {
	background-image: url('png/mail.png');
	background-repeat: no-repeat;
}



.icon-money-banknote {
	background-image: url('png/money-banknote.png');
	background-repeat: no-repeat;
}



.icon-money-exchange {
	background-image: url('png/money-exchange.png');
	background-repeat: no-repeat;
}



.icon-money-suitcase {
	background-image: url('png/money-suitcase.png');
	background-repeat: no-repeat;
}



.icon-motorcycle {
	background-image: url('png/motorcycle.png');
	background-repeat: no-repeat;
}



.icon-mouse {
	background-image: url('png/mouse.png');
	background-repeat: no-repeat;
}



.icon-newspaper {
	background-image: url('png/newspaper.png');
	background-repeat: no-repeat;
}



.icon-notebook {
	background-image: url('png/notebook.png');
	background-repeat: no-repeat;
}



.icon-office-chair {
	background-image: url('png/office-chair.png');
	background-repeat: no-repeat;
}



.icon-pages-documents {
	background-image: url('png/pages-documents.png');
	background-repeat: no-repeat;
}



.icon-paper-document {
	background-image: url('png/paper-document.png');
	background-repeat: no-repeat;
}



.icon-paper-lock {
	background-image: url('png/paper-lock.png');
	background-repeat: no-repeat;
}



.icon-partner-handshake {
	background-image: url('png/partner-handshake.png');
	background-repeat: no-repeat;
}



.icon-pen {
	background-image: url('png/pen.png');
	background-repeat: no-repeat;
}



.icon-pension-rocker-chair {
	background-image: url('png/pension-rocker-chair.png');
	background-repeat: no-repeat;
}



.icon-people-collaboration {
	background-image: url('png/people-collaboration.png');
	background-repeat: no-repeat;
}



.icon-people-communication-external {
	background-image: url('png/people-communication-external.png');
	background-repeat: no-repeat;
}



.icon-people-communication-internal {
	background-image: url('png/people-communication-internal.png');
	background-repeat: no-repeat;
}



.icon-people-connect {
	background-image: url('png/people-connect.png');
	background-repeat: no-repeat;
}



.icon-person-heart-people-love {
	background-image: url('png/person-heart-people-love.png');
	background-repeat: no-repeat;
}



.icon-person-manager {
	background-image: url('png/person-manager.png');
	background-repeat: no-repeat;
}



.icon-phone-call {
	background-image: url('png/phone-call.png');
	background-repeat: no-repeat;
}



.icon-plain {
	background-image: url('png/plain.png');
	background-repeat: no-repeat;
}



.icon-plus-minus {
	background-image: url('png/plus-minus.png');
	background-repeat: no-repeat;
}



.icon-plus {
	background-image: url('png/plus.png');
	background-repeat: no-repeat;
}



.icon-present {
	background-image: url('png/present.png');
	background-repeat: no-repeat;
}



.icon-puzzle-pieces {
	background-image: url('png/puzzle-pieces.png');
	background-repeat: no-repeat;
}



.icon-puzzle {
	background-image: url('png/puzzle.png');
	background-repeat: no-repeat;
}



.icon-radio {
	background-image: url('png/radio.png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Hydro power-(minus) {
	background-image: url('png/renewable_icon_bounding box_Hydro power-(minus).png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Hydro power-(neutral) {
	background-image: url('png/renewable_icon_bounding box_Hydro power-(neutral).png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Hydro power-(plus) {
	background-image: url('png/renewable_icon_bounding box_Hydro power-(plus).png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Power Pylon {
	background-image: url('png/renewable_icon_bounding box_Power Pylon.png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Solar Power-Modules {
	background-image: url('png/renewable_icon_bounding box_Solar Power-Modules.png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Thermal Power-Plant {
	background-image: url('png/renewable_icon_bounding box_Thermal Power-Plant.png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Wind Turbine-(offshore) {
	background-image: url('png/renewable_icon_bounding box_Wind Turbine-(offshore).png');
	background-repeat: no-repeat;
}



.icon-renewable_icon_bounding box_Wind Turbine-(onshore) {
	background-image: url('png/renewable_icon_bounding box_Wind Turbine-(onshore).png');
	background-repeat: no-repeat;
}



.icon-repair {
	background-image: url('png/repair.png');
	background-repeat: no-repeat;
}



.icon-rewards {
	background-image: url('png/rewards.png');
	background-repeat: no-repeat;
}



.icon-rocket {
	background-image: url('png/rocket.png');
	background-repeat: no-repeat;
}



.icon-save {
	background-image: url('png/save.png');
	background-repeat: no-repeat;
}



.icon-search-document {
	background-image: url('png/search-document.png');
	background-repeat: no-repeat;
}



.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}



.icon-share-chart {
	background-image: url('png/share-chart.png');
	background-repeat: no-repeat;
}



.icon-share-graph-arrow-down {
	background-image: url('png/share-graph-arrow-down.png');
	background-repeat: no-repeat;
}



.icon-share-graph-arrow-up {
	background-image: url('png/share-graph-arrow-up.png');
	background-repeat: no-repeat;
}



.icon-sharing-connect {
	background-image: url('png/sharing-connect.png');
	background-repeat: no-repeat;
}



.icon-shield-hand {
	background-image: url('png/shield-hand.png');
	background-repeat: no-repeat;
}



.icon-shield {
	background-image: url('png/shield.png');
	background-repeat: no-repeat;
}



.icon-shopping-cart {
	background-image: url('png/shopping-cart.png');
	background-repeat: no-repeat;
}



.icon-smartphone {
	background-image: url('png/smartphone.png');
	background-repeat: no-repeat;
}



.icon-social-media-facebook-messenger {
	background-image: url('png/social-media-facebook-messenger.png');
	background-repeat: no-repeat;
}



.icon-social-media-facebook {
	background-image: url('png/social-media-facebook.png');
	background-repeat: no-repeat;
}



.icon-social-media-linkedin {
	background-image: url('png/social-media-linkedin.png');
	background-repeat: no-repeat;
}



.icon-social-media-twitter {
	background-image: url('png/social-media-twitter.png');
	background-repeat: no-repeat;
}



.icon-social-media-whatsapp {
	background-image: url('png/social-media-whatsapp.png');
	background-repeat: no-repeat;
}



.icon-sport-sailing-ship {
	background-image: url('png/sport-sailing-ship.png');
	background-repeat: no-repeat;
}



.icon-sport-trainer {
	background-image: url('png/sport-trainer.png');
	background-repeat: no-repeat;
}



.icon-sports-car {
	background-image: url('png/sports-car.png');
	background-repeat: no-repeat;
}



.icon-sports {
	background-image: url('png/sports.png');
	background-repeat: no-repeat;
}



.icon-star-event {
	background-image: url('png/star-event.png');
	background-repeat: no-repeat;
}



.icon-stars-sky-galaxy {
	background-image: url('png/stars-sky-galaxy.png');
	background-repeat: no-repeat;
}



.icon-steering-wheel {
	background-image: url('png/steering-wheel.png');
	background-repeat: no-repeat;
}



.icon-stock-data-graph {
	background-image: url('png/stock-data-graph.png');
	background-repeat: no-repeat;
}



.icon-stove-cooker {
	background-image: url('png/stove-cooker.png');
	background-repeat: no-repeat;
}



.icon-strategy {
	background-image: url('png/strategy.png');
	background-repeat: no-repeat;
}



.icon-student-school-graduation {
	background-image: url('png/student-school-graduation.png');
	background-repeat: no-repeat;
}



.icon-survey {
	background-image: url('png/survey.png');
	background-repeat: no-repeat;
}



.icon-tablet-ipad-apps {
	background-image: url('png/tablet-ipad-apps.png');
	background-repeat: no-repeat;
}



.icon-target {
	background-image: url('png/target.png');
	background-repeat: no-repeat;
}



.icon-thief {
	background-image: url('png/thief.png');
	background-repeat: no-repeat;
}



.icon-to-do-list {
	background-image: url('png/to-do-list.png');
	background-repeat: no-repeat;
}



.icon-tooth {
	background-image: url('png/tooth.png');
	background-repeat: no-repeat;
}



.icon-tv {
	background-image: url('png/tv.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_down_black_24px {
	background-image: url('png/ui-arrow_down_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_first_page_24px {
	background-image: url('png/ui-arrow_first_page_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_last_page_24px {
	background-image: url('png/ui-arrow_last_page_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_link_black_24px {
	background-image: url('png/ui-arrow_link_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_slide_black_24px {
	background-image: url('png/ui-arrow_slide_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-arrow_up_black_24px {
	background-image: url('png/ui-arrow_up_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-attach_file_black_24px {
	background-image: url('png/ui-attach_file_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-bookmark_border_out_24px {
	background-image: url('png/ui-bookmark_border_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-calendar_big_black_32px {
	background-image: url('png/ui-calendar_big_black_32px.png');
	background-repeat: no-repeat;
}



.icon-ui-calendar_out_24px {
	background-image: url('png/ui-calendar_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-call_phone_black2_24px {
	background-image: url('png/ui-call_phone_black2_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-check_black_24px {
	background-image: url('png/ui-check_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-check_circle_black_24px {
	background-image: url('png/ui-check_circle_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-close_black_24px {
	background-image: url('png/ui-close_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-close_black_circ_24px {
	background-image: url('png/ui-close_black_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-credit_card_out_24px {
	background-image: url('png/ui-credit_card_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-delete_out_24px {
	background-image: url('png/ui-delete_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-download_24px {
	background-image: url('png/ui-download_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-error_black_24px {
	background-image: url('png/ui-error_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-error_out_24px {
	background-image: url('png/ui-error_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-expand_black_24px {
	background-image: url('png/ui-expand_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-expand_more_black_24px {
	background-image: url('png/ui-expand_more_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-file_out_24px {
	background-image: url('png/ui-file_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-fileclaim_m_black_24px {
	background-image: url('png/ui-fileclaim_m_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-fileclaim_m_out_24px {
	background-image: url('png/ui-fileclaim_m_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-gmore_horiz_black_24px {
	background-image: url('png/ui-gmore_horiz_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-gmore_vert_black_24px {
	background-image: url('png/ui-gmore_vert_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-help_black_24px {
	background-image: url('png/ui-help_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-help_out_24px {
	background-image: url('png/ui-help_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-info_black_24px {
	background-image: url('png/ui-info_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-info_out_24px {
	background-image: url('png/ui-info_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-list_black_24px {
	background-image: url('png/ui-list_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-location_black_24px {
	background-image: url('png/ui-location_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-lock_black_24px {
	background-image: url('png/ui-lock_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-lock_out_24px {
	background-image: url('png/ui-lock_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-mail_black_24px {
	background-image: url('png/ui-mail_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-mail_out_24px {
	background-image: url('png/ui-mail_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-menu_black_24px {
	background-image: url('png/ui-menu_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-message_black_24px {
	background-image: url('png/ui-message_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-not_available_black_24px {
	background-image: url('png/ui-not_available_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_black_24px {
	background-image: url('png/ui-persona_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_business_black_24px {
	background-image: url('png/ui-persona_business_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_business_out_24px {
	background-image: url('png/ui-persona_business_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_m_black_24px {
	background-image: url('png/ui-persona_m_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_m_out_24px {
	background-image: url('png/ui-persona_m_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-persona_out_24px_V4 {
	background-image: url('png/ui-persona_out_24px_V4.png');
	background-repeat: no-repeat;
}



.icon-ui-phone_24px_V4 {
	background-image: url('png/ui-phone_24px_V4.png');
	background-repeat: no-repeat;
}



.icon-ui-plus_black_24px {
	background-image: url('png/ui-plus_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-print_out_24px {
	background-image: url('png/ui-print_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-problem_alert_black_24px {
	background-image: url('png/ui-problem_alert_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-search_out_24px {
	background-image: url('png/ui-search_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-settings_black_24px {
	background-image: url('png/ui-settings_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-share_black_24px {
	background-image: url('png/ui-share_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_faceb_24px {
	background-image: url('png/ui-social_faceb_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_faceb_circ_24px {
	background-image: url('png/ui-social_faceb_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_faceb_messenger_24px {
	background-image: url('png/ui-social_faceb_messenger_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_google_24px {
	background-image: url('png/ui-social_google_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_googleplus_circ_24px {
	background-image: url('png/ui-social_googleplus_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_insta_24px {
	background-image: url('png/ui-social_insta_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_insta_circ_24px {
	background-image: url('png/ui-social_insta_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_linkedIn_circ_24px {
	background-image: url('png/ui-social_linkedIn_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_linkedin_24px {
	background-image: url('png/ui-social_linkedin_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_mail_circ_24px {
	background-image: url('png/ui-social_mail_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_messenger_circ_24px {
	background-image: url('png/ui-social_messenger_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_tweet_24px {
	background-image: url('png/ui-social_tweet_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_tweet_circ_24px {
	background-image: url('png/ui-social_tweet_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_whatsapp_24px {
	background-image: url('png/ui-social_whatsapp_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_whatsapp_circ_24px {
	background-image: url('png/ui-social_whatsapp_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_xing_24px {
	background-image: url('png/ui-social_xing_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_xing_circ_24px {
	background-image: url('png/ui-social_xing_circ_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_youtube_24px {
	background-image: url('png/ui-social_youtube_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-social_youtube_circ2_24px {
	background-image: url('png/ui-social_youtube_circ2_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-speech_bubble_24px {
	background-image: url('png/ui-speech_bubble_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-star_black_24px {
	background-image: url('png/ui-star_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-star_half_24px {
	background-image: url('png/ui-star_half_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-star_out_24px {
	background-image: url('png/ui-star_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-text_file_out_24px {
	background-image: url('png/ui-text_file_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-voicein_out_24px {
	background-image: url('png/ui-voicein_out_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-watch_black_24px {
	background-image: url('png/ui-watch_black_24px.png');
	background-repeat: no-repeat;
}



.icon-ui-watch_out_24px {
	background-image: url('png/ui-watch_out_24px.png');
	background-repeat: no-repeat;
}



.icon-umbrella-protection {
	background-image: url('png/umbrella-protection.png');
	background-repeat: no-repeat;
}



.icon-video-camera {
	background-image: url('png/video-camera.png');
	background-repeat: no-repeat;
}



.icon-wall-balance {
	background-image: url('png/wall-balance.png');
	background-repeat: no-repeat;
}



.icon-washer {
	background-image: url('png/washer.png');
	background-repeat: no-repeat;
}



.icon-water-tap {
	background-image: url('png/water-tap.png');
	background-repeat: no-repeat;
}



.icon-watering-can {
	background-image: url('png/watering-can.png');
	background-repeat: no-repeat;
}



.icon-wheelchair {
	background-image: url('png/wheelchair.png');
	background-repeat: no-repeat;
}



.icon-world-globe {
	background-image: url('png/world-globe.png');
	background-repeat: no-repeat;
}



.icon-world-wide-we {
	background-image: url('png/world-wide-we.png');
	background-repeat: no-repeat;
}


